@{
  /*
   * ~/Areas/Admin/Views/Users/ResetPassword.cshtml
   */
}

@model SimpleBlog.Areas.Admin.ViewModels.UsersResetPassword

@{
  ViewBag.Title = "ResetPassword";
}

<h2>Areas/Admin/Views/Users/ResetPassword</h2>
<h1>Reset password for @Model.Username</h1>

@using (Html.BeginForm())
{
  @Html.ValidationSummary() 
   
  <div class="form-group">
    @Html.LabelFor(f => f.Password)
    @Html.PasswordFor(f => f.Password, new { @class = "form-control", type = "password" }) @* placing @ symbol in front of the "class" word is to threat it as identifier, because "class" is a keyword in c# *@
  </div>
  
  <input type="submit" value="Reset Password" class="btn btn-primary" />
  <a href="@Url.Action("Index")">or cancel</a>
}
