@{
  /*
~/Views/Shared/_Layout.cshtml
*/
}

@using System.Web.Optimization

@{
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title - SimpleBlog</title>
  @Styles.Render("~/styles")
</head>
<body>

  <header>
    <h1>
      <a href="@Url.RouteUrl("Home")">Simple Blog</a>
      <i class="glyphicon glyphicon-bell"></i>
    </h1>
    @if (User.Identity.IsAuthenticated)
    {
      <p>welcome back, @User.Identity.Name</p>
      <a href="@Url.RouteUrl("logout")">Logout</a><br />
      if (User.IsInRole("admin"))
      {
        <a href="@Url.Action("Index", "Posts", new { area = "Admin" })">view posts in admin</a><br />
        <a href="@Url.RouteUrl(new { area = "Admin", controller = "Users", action = "Index" })">view posts in admin</a>
      }
    }
    else
    {
      <a href="@Url.RouteUrl("Login")">Login</a>
    }
  </header>
  @RenderBody()

  <footer>
    &copy; @DateTime.UtcNow.Year - Me
  </footer>

  @Scripts.Render("~/scripts")
  @RenderSection("Scripts", false)
</body>
</html>
